<form method="POST" action="/recipes">

    <label for="name">Name</label>
    <input name="name" id="name" type="text">

    <label for="ingredients">Ingredients</label>
    <input name="ingredients" id="ingredients" type="text">

    <label for="cook_time">Cook Time</label>
    <input name="cook_time" id="cook_time" type="number">

    <input type="submit" value="submit">

</form>